.Footer{
  width: 98%;
  margin: 10px auto;
  /* position: relative; */
}

.footer__container{
  background: #732D4D;
  color: white;
  padding: 15px 0;
  /* position: absolute; */
  /* bottom: 0; */
}

.footer__link {
  color: black;
}

.footer__link:hover {
  color: white;
}