.contador {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 5px;
  padding: 10px 10px;
  outline: 1px solid black;
}

.contadorControl {
  display: flex;
  justify-content: space-evenly;
}

.contadorControl > button {
  width: 20%;
  /* width: 45px; */
}